<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>YOUR DEVELOPMENT APP KEY</string>
	<key>developmentAppSecret</key>
	<string>YOUR DEVELOPMENT APP SECRET</string>
        <key>productionAppKey</key>
        <string>YOUR PRODUCTION APP KEY</string>
        <key>productionAppSecret</key>
        <string>YOUR PRODUCTION APP SECRET</string>
</dict>
</plist>
